#col-ext-body {
    padding-left: 10px;
    margin: 0;
    width: 300px;
    height: 100%;
}

.col-ext-nav {
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 96%;
}

.col-ext-nav p {
    display: inline-grid;
    border: 1px solid #707070;
    width: 48%;
}

#col-ext-help {
    text-align: center;
    margin-right: -3px;
    margin-bottom: 0;
    background-color: #e9e9ff;
    border-right:transparent;
    border-bottom: transparent;
    height:30px;
    padding-top: 4px;
    border-radius: 6px 0 0 0;
}

#col-ext-magic-tool {
    margin-bottom: 0;
    text-align: center;
    background-color: #e9e9ff;
    border-bottom: transparent;
    border-left:transparent;
    height:30px;
    padding-top: 4px;
    border-radius: 0 6px 0 0;
}

#col-ext-color-picker {
    margin-top: -8px;
    border-top: transparent;
    text-align: center;
    background-color: #e9e9ff;
    height:30px;
    padding-top: 4px;
    border-radius: 0 0 6px 6px;
    width: 96%;
}

#col-ext-help-cont {
    text-align: center;
    background-color: #e9e9ff;
    border: 1px solid black;
    border-radius: 6px;
    width: 96%;
    height: auto;
    max-height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#col-ext-magic-tool-cont {
    text-align: center;
    background-color: #e9e9ff;
    border: 1px solid black;
    border-radius: 6px;
    width: 96%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#col-ext-color-picker-cont {
    text-align: center;
    background-color: #e9e9ff;
    border: 1px solid black;
    border-radius: 6px;
    width: 96%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#col-ext-color-picker-cont div {

}
.tooltip-text {
    visibility: hidden;
    color: #3b3a3abd;
    text-align: center;
    border-radius: 6px;
    font-size: 8px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#magic-arrow{
    cursor: pointer;
    font-size: 20px;
    color:black;
}


