<p id="custom_design_id" hidden></p>
<div class="custom_design_fields">
    <label for="custom_design_name">Name</label>
    <input type="text" id="custom_design_name" minlength="0" maxlength="30" required />
</div>
<div class="custom_design_fields">
    <label for="custom_design_background_colour">Background Colour</label>
    <input type="color" id="custom_design_background_colour" required />
</div>
<div class="custom_design_fields">
    <label for="custom_design_font_colour">Font Colour</label>
    <input type="color" id="custom_design_font_colour" required />
</div>
<div class="custom_design_fields">
    <label for="custom_design_border_colour">Border Colour</label>
    <input type="color" id="custom_design_border_colour" required />
</div>
<input type="submit" id="custom_design_submit" />