<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/cbpr.css"/>
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/popup.js"></script>
</head>
<body>
<div>
    <div id="tab_section">
        <div id="home_tab" class="tab active"><i class="fa fa-home"></i> Home</div>
        <div id="colour_changer_tab" class="tab"><i class="fa fa-paint-brush"></i> Colour Changer</div>
        <div id="custom_design_tab" class="tab"><i class="fa fa-flash"></i> Custom Design</div>
        <div id="help_tab" class="tab"><i class="fa fa-gears"></i> Help</div>
    </div>
    <div id="content_section">
        <div id="content">
            <div id="content_home" class="content">
                <p>Welcome to Colour Blind Page Renderer!</p>
                <p>This app is designed too assist users in changing the colour of Web Pages to which best suits
                    you!</p>
            </div>
            <div id="content_colour_changer" class="content">
                <div id="content_colour_changer_holder">
                    <div id="colour_changer_apply">
                        <img src="/public/images/Logo.png" width="100%" height="80%"/>
                        <p style="text-align: center">Click here</p>
                    </div>
                    <div id="colour_changer_options">
                        <div id="colour_changer_options_tabs">
                            <div id="colour_tab_0" class="config">1</div>
                            <div id="colour_tab_1" class="config">2</div>
                            <div id="colour_tab_2" class="config">3</div>
                            <div id="colour_tab_3" class="config">4</div>
                            <div id="colour_tab_4" class="config">5</div>
                        </div>
                        <div id="colour_changer_options_preview">
                            <div id="colour_changer_options_preview_message">
                                Select a Colour Option to preview it!
                            </div>
                            <div id="colour_changer_options_preview_display" hidden>
                                <h2 id="colour_changer_options_preview_display_title"></h2>
                                <p>Background Colour: <i id="colour_changer_options_preview_display_background_colour"></i></p>
                                <p>Font Colour: <i id="colour_changer_options_preview_display_font_colour"></i></p>
                                <p>Border Colour: <i id="colour_changer_options_preview_display_border_colour"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_custom_design" class="content">
                <div id="content_custom_design_holder">
                    <div id="content_custom_design_preview">

                    </div>
                    <div id="content_custom_design_settings">
                        <div id="content_custom_design_settings_configs">
                            <div id="content_custom_design_settings_config_1" class="config">1</div>
                            <div id="content_custom_design_settings_config_2" class="config">2</div>
                            <div id="content_custom_design_settings_config_3" class="config">3</div>
                            <div id="content_custom_design_settings_config_4" class="config">4</div>
                            <div id="content_custom_design_settings_config_5" class="config">5</div>
                        </div>
                        <div id="content_custom_design_settings_form_div">
                            <form id="content_custom_design_settings_form">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_help" class="content">
                <span id="help-title">CBPR - Help</span><br>
                <hr>
                <div>
                    <div class="drop_down_tip">What is CBPR?</div>
                    <p class="contentTabs" id="content1">Colour blind page renderer or CBPR is a chrome extension that assists users in viewing web pages that may be difficult to read. In essence, this extension is repainting the entire page to a colour scheme that suits you. </p>
                </div>
                <hr>
                <div>
                    <div class="drop_down_tip">Colour changer</div>
                    <p class="contentTabs" id="content2">Colour changer will take any pre-set configs or default config and depending on which has been selected will show a preview of the selection. From there, clicking the button on the left side of the page will transform the web-page you are currently viewing.</p>
                </div>
                <hr>
                <div>
                    <div class="drop_down_tip">Custom designs</div>
                    <p class="contentTabs" id="content3">This section of the extension is for creating any combination of colours that you may think will help you read the web-page. When one of the pre-set configs is chosen you may modify the name, background colour, font colour and border colour. There is a small preview window in which you can see what it will look like on the page. This is achieved using chrome storage.</p>
                </div>
                <hr>
                <div>
                    <div class="drop_down_tip">Help and other</div>
                    <p class="contentTabs" id="content4">The help section outlines what each section of the extension does.</p>
                </div>
                <hr>
                    <a id="privacypolicy_link" href="privacypolicy.html" target="_blank">
                        <div class="drop_down_tip">Privacy Policy</div>
                    </a>
            </div>
        </div>
        <div id="contact_us">
            <div id="report_bug">
                <img class="contact_img" src="/public/images/bug.png"/>
                <p class="contact_txt">Report a Bug</p>
            </div>
            <img class="contact_img" src="/public/images/email.jpg"/>
            <p class="contact_txt">CBPR.ext@gmail.com</p>
            <img id="logo" src="/public/images/LogoNormal.png"/>
            <span class="contact_txt_below">Colour Blind Page Renderer</span>
            <button id="button_test">Test</button>
        </div>
    </div>
</div>
</body>
