<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/cbpr.css" />
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/popup.js"></script>
</head>
<body>
<div>
    <div id="tab_section">
        <div id="home_tab" class="tab active"><i class="fa fa-home"></i> Home</div>
        <div id="colour_changer_tab" class="tab"><i class="fa fa-paint-brush"></i> Colour Changer</div>
        <div id="custom_design_tab" class="tab"><i class="fa fa-flash"></i> Custom Design</div>
        <div id="help_tab" class="tab"><i class="fa fa-gears"></i> Help</div>
    </div>
    <div id="content_section">
        <div id="content">
            <div id="content_home" class="content">
                <p>Welcome to Colour Blind Page Renderer!</p>
                <p>This app is designed too assist users in changing the colour of Web Pages to which best suits you!</p>
            </div>
            <div id="content_colour_changer" class="content">
                <div id="content_colour_changer_holder">
                    <div id="colour_changer_apply">
                        <img src="/public/images/Logo.png" width="100%" height="80%" />
                        <p style="text-align: center">Click here</p>
                    </div>
                    <div id="colour_changer_options">
                        <div id="colour_changer_options_tabs">
                            <div id="colour_changer_tab_left"><i class="fa fa-caret-square-o-left"></i></div>
                            <div id="colour_tab_0" class="colour_changer_options_tab"></div>
                            <div id="colour_tab_1" class="colour_changer_options_tab"></div>
                            <div id="colour_tab_2" class="colour_changer_options_tab"></div>
                            <div id="colour_tab_3" class="colour_changer_options_tab"></div>
                            <div id="colour_tab_4" class="colour_changer_options_tab"></div>
                            <div id="colour_changer_tab_right"><i class="fa fa-caret-square-o-right"></i></div>
                        </div>
                        <div id="colour_changer_options_preview">
                            <div id="colour_changer_options_preview_message">
                                Select a Colour Option to preview it!
                            </div>
                            <div id="colour_changer_options_preview_display" hidden>
                                <p>Background Colour: <i id="colour_changer_options_preview_display_background_colour"></i></p>
                                <p>Font Colour: <i id="colour_changer_options_preview_display_font_colour"></i></p>
                                <p>Border Colour: <i id="colour_changer_options_preview_display_border_colour"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_custom_design" class="content">
                <div id="content_custom_design_holder">
                    <div id="content_custom_design_preview">

                    </div>
                    <div id="content_custom_design_settings">
                        <div id="content_custom_design_settings_configs">
                            <div id="content_custom_design_settings_config_1" class="config">1</div>
                            <div id="content_custom_design_settings_config_2" class="config">2</div>
                            <div id="content_custom_design_settings_config_3" class="config">3</div>
                            <div id="content_custom_design_settings_config_4" class="config">4</div>
                            <div id="content_custom_design_settings_config_5" class="config">5</div>
                        </div>
                        <div id="content_custom_design_settings_form_div">
                            <form id="content_custom_design_settings_form">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_help" class="content">
                d
            </div>
        </div>
        <div id="contact_us">
            <img id="logo" src="/public/images/LogoNormal.png"/>
        </div>
    </div>
</div>
</body>
